/app/node_modules
/app/build
/app/package-lock.json

/api/node_modules
/api/dist
/api/package-lock.json
/api/storage

/nest-api/node_modules
/nest-api/dist
/nest-api/package-lock.json
/nest-api/storage

.vscode