@keyframes page-fade-in {
  0% {
    opacity: 0;
    transform: translateY(25vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

$blue-silver: #161b22;
$silver: #21262c;
$super-dark: #0e1117;
$blue: #2d7bec;
$light-silver: #6d7681;
$green: #249862;
